body {
    font-family: Arial, sans-serif;
    background-color: #3f6664;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

form {
    background-color: #c2e0c3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    max-width: 100%;
}

fieldset {
    border: 3px solid black ;
    margin-bottom: 15px;
}

legend {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333333;
   
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

input[type="text"],
input[type="date"],
input[type="email"],
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}
